@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-8">
            <a class="text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Merhaba @User.Identity?.Name!</a>
        </div>
        <div class="col-4">
            <form class="row row-cols-lg-auto g-3 align-items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-primary">Çıkış</button>
            </form>
        </div>
    </div>
    
}
else
{
    <a class="btn btn-light text-dark me-2" role="button" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
    <a class="btn btn-primary" role="button" asp-area="Identity" asp-page="/Account/Login">Giriş</a>
}